.tabs {
  outline: 1px solid #eee; }

.tabs {
  width: 100%;
  box-sizing: border-box; }
  .tabs_nav_list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .tabs_nav_item {
    display: inline-block; }
