@import "base";

.tabs {
  @extend %outline;
  margin: 3em 0;
  width:100%;
  box-sizing: border-box;

  &_nav {
    text-align: center;

    &_list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &_item {
      display: inline-block;

      a {
        text-decoration: none;
        font-size: $large_text;
        padding: 1em;
        color: $dark_color;
      }
    }
  }
}
